[submodule "emacs"]
	path = emacs
	url = git://git.savannah.gnu.org/emacs.git
	branch = master
[submodule "site-lisp/org-roam"]
	path = site-lisp/org-roam
	url = git@github.com:org-roam/org-roam.git
[submodule "site-lisp/sly"]
	path = site-lisp/sly
	url = git@github.com:joaotavora/sly.git
[submodule "site-lisp/yasnippet-snippets"]
	path = site-lisp/yasnippet-snippets
	url = git@github.com:AndreaCrotti/yasnippet-snippets.git
[submodule "site-lisp/sideframe"]
	path = site-lisp/sideframe
	url = git@github.com:rougier/sideframe.git
[submodule "site-lisp/oboe.el"]
	path = site-lisp/oboe.el
	url = git@github.com:gynamics/oboe.el.git
[submodule "site-lisp/vertico"]
	path = site-lisp/vertico
	url = git@github.com:minad/vertico.git
[submodule "site-lisp/marginalia"]
	path = site-lisp/marginalia
	url = git@github.com:minad/marginalia.git
[submodule "site-lisp/consult"]
	path = site-lisp/consult
	url = git@github.com:minad/consult.git
[submodule "site-lisp/corfu"]
	path = site-lisp/corfu
	url = git@github.com:minad/corfu.git
[submodule "site-lisp/cape"]
	path = site-lisp/cape
	url = git@github.com:minad/cape.git
[submodule "site-lisp/mini-popup"]
	path = site-lisp/mini-popup
	url = git@github.com:minad/mini-popup.git
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = git@github.com:joaotavora/yasnippet.git
[submodule "site-lisp/treemacs"]
	path = site-lisp/treemacs
	url = git@github.com:Alexander-Miller/treemacs.git
[submodule "site-lisp/eglot-java"]
	path = site-lisp/eglot-java
	url = git@github.com:yveszoundi/eglot-java.git
[submodule "site-lisp/uniline"]
	path = site-lisp/uniline
	url = git@github.com:tbanel/uniline.git
[submodule "site-lisp/app-launcher"]
	path = site-lisp/app-launcher
	url = git@github.com:SebastienWae/app-launcher.git
[submodule "site-lisp/nano-modeline"]
	path = site-lisp/nano-modeline
	url = git@github.com:rougier/nano-modeline.git
[submodule "site-lisp/doom-modeline"]
	path = site-lisp/doom-modeline
	url = git@github.com:seagle0128/doom-modeline.git
[submodule "site-lisp/tempel"]
	path = site-lisp/tempel
	url = git@github.com:minad/tempel.git
[submodule "site-lisp/emacs-reader"]
	path = site-lisp/emacs-reader
	url = https://codeberg.org/divyaranjan/emacs-reader.git
[submodule "site-lisp/dape"]
	path = site-lisp/dape
	url = git@github.com:svaante/dape.git
[submodule "site-lisp/xdg-launcher"]
	path = site-lisp/xdg-launcher
	url = git@github.com:emacs-exwm/xdg-launcher.git
[submodule "site-lisp/diminish.el"]
	path = site-lisp/diminish.el
	url = git@github.com:myrjola/diminish.el.git
[submodule "site-lisp/rainbow-delimiters"]
	path = site-lisp/rainbow-delimiters
	url = git@github.com:Fanael/rainbow-delimiters.git
[submodule "site-lisp/modus-themes"]
	path = site-lisp/modus-themes
	url = https://github.com/protesilaos/modus-themes
[submodule "site-lisp/orderless"]
	path = site-lisp/orderless
	url = https://github.com/oantolin/orderless
[submodule "site-lisp/gnuplot"]
	path = site-lisp/gnuplot
	url = git@github.com:emacs-gnuplot/gnuplot.git
[submodule "site-lisp/web-mode"]
	path = site-lisp/web-mode
	url = git@github.com:fxbois/web-mode.git
[submodule "site-lisp/markdown-mode"]
	path = site-lisp/markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
[submodule "site-lisp/ggtags"]
	path = site-lisp/ggtags
	url = git@github.com:leoliu/ggtags.git
[submodule "site-lisp/gtags-mode"]
	path = site-lisp/gtags-mode
	url = git@github.com:Ergus/gtags-mode.git
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = git@github.com:magit/magit.git
