[submodule "emacs"]
	path = emacs
	url = git://git.sv.gnu.org/emacs.git
	branch = master
[submodule "site-lisp/org-roam"]
	path = site-lisp/org-roam
	url = git@github.com:org-roam/org-roam.git
[submodule "site-lisp/sly"]
	path = site-lisp/sly
	url = git@github.com:joaotavora/sly.git
[submodule "site-lisp/yasnippet-snippets"]
	path = site-lisp/yasnippet-snippets
	url = git@github.com:AndreaCrotti/yasnippet-snippets.git
[submodule "site-lisp/sideframe"]
	path = site-lisp/sideframe
	url = git@github.com:rougier/sideframe.git
[submodule "site-lisp/oboe.el"]
	path = site-lisp/oboe.el
	url = git@github.com:gynamics/oboe.el.git
